Repository astropy/ccdproc, pull requests merged in 2018-12, with the labels that each got.

#649 Relax the array equality check in the gain tests
  .travis.yml
  ccdproc/tests/pytest_fixtures.py
  ccdproc/tests/test_gain.py
Labels: ccdproc, no-changelog-entry-needed, tests

#652 Update sphinx configuration to use sphinx_astropy
  docs/conf.py
  docs/nitpick-exceptions
Labels: docs

#653 Update README.rst
  README.rst
Labels: no-changelog-entry-needed
