Repository astropy/ccdproc, pull requests merged in 2019-07, with the labels that each got.

#676 Use correct method to access content of error message in pytest
  ccdproc/tests/test_ccdproc.py
Labels: no-changelog-entry-needed

#678 Rewrite pytest fixture for generating ImageFileCollection test directory
  ccdproc/tests/data/expected_ifc_file_properties.csv
  ccdproc/tests/pytest_fixtures.py
  ccdproc/tests/setup_package.py
  ccdproc/tests/test_image_collection.py
Labels: no-changelog-entry-needed, tests

#642 Change formula for chunking of files in `combine`
  .travis.yml
  CHANGES.rst
  appveyor.yml
  ccdproc/combiner.py
  ccdproc/tests/run_for_memory_profile.py
  ccdproc/tests/run_profile.ipynb
  ccdproc/tests/test_memory_use.py
Labels: bug, combiner

#681 add ccdmask to reduction toolbox documentation
  docs/ccdproc/reduction_toolbox.rst
Labels: docs, no-changelog-entry-needed

#682 Add filtering by regex matching in ImageFileCollection
  CHANGES.rst
  ccdproc/image_collection.py
  ccdproc/tests/test_image_collection.py
  docs/ccdproc/image_management.rst
Labels: ImageFileCollection

#683 Remove a bit more python2 stuff
  ccdproc/combiner.py
  ccdproc/core.py
  ccdproc/image_collection.py
  ccdproc/tests/pytest_fixtures.py
  ccdproc/tests/test_image_collection.py
Labels: no-changelog-entry-needed

#686 Rearrange the documentation for 2.0
  CITATION.rst
  CODE_OF_CONDUCT.rst
  docs/_static/ccdproc_banner.pdf
  docs/_static/ccdproc_banner.png
  docs/_static/ccdproc_banner.svg
  docs/api.rst
  docs/ccddata.rst
  docs/citation.rst
  docs/conduct.rst
  docs/contributing.rst
  docs/getting_started.rst
  docs/image_combination.rst
  docs/image_management.rst
  docs/index.rst
  docs/install.rst
  docs/overview.rst
  docs/reduction_examples.rst
  docs/reduction_toolbox.rst
Labels: docs, no-changelog-entry-needed

#687 Set up directory for use in ImageFileCollection unit tests
  ccdproc/image_collection.py
  ccdproc/tests/data/expected_ifc_file_properties.csv
  ccdproc/tests/pytest_fixtures.py
  ccdproc/tests/test_image_collection.py
  docs/image_management.rst
Labels: no-changelog-entry-needed
