Repository astropy/ccdproc, pull requests merged in 2021-03, with the labels that each got.

#749 DOC: Replace astropy channel with conda-forge
  docs/install.rst
Labels: docs, no-changelog-entry-needed

#761 Update Zenodo badge to latest release
  README.rst
Labels: no-changelog-entry-needed

#759 Reduce test warnings
  ccdproc/extern/bitfield.py
  ccdproc/log_meta.py
  ccdproc/tests/test_ccdmask.py
  ccdproc/tests/test_ccdproc.py
  ccdproc/tests/test_cosmicray.py
  ccdproc/tests/test_image_collection.py
Labels: no-changelog-entry-needed, tests

#750 Fix bug when ImageFileCollection.filter() would return an empty collection
  AUTHORS.rst
  CHANGES.rst
  ccdproc/image_collection.py
Labels: bug

#762 Document use of `ImageFileCollection` with `Combiner`/`combine`
  CHANGES.rst
  ccdproc/combiner.py
  ccdproc/tests/test_combiner.py
  docs/image_combination.rst
  setup.cfg
Labels: tests

#764 Some housekeeping items
  AUTHORS.rst
  ccdproc/tests/test_image_collection.py
Labels: docs, no-changelog-entry-needed

#766 Fix logging when user omits keyword argument name
  CHANGES.rst
  ccdproc/log_meta.py
  ccdproc/tests/test_ccdproc_logging.py
Labels: bug, logging

#765 MNT: Replace master with main
  .github/CONTRIBUTING.md
  .github/workflows/ci_tests.yml
  AUTHORS.rst
  README.rst
  docs/conf.py
Labels: no-changelog-entry-needed
